/*
  UC:   Computação Gráfica
  Efólio : B
  Autor: Carlos Inácio
  Número Aluno Universidade Aberta : 1701879
  Curso: Licenciatura em Engenharia Informática
*/

body{            
  margin: 0;
  overflow: hidden;
}    

/* Definir propriedades da área de canvas na página */
canvas {
  display: block;
  width:100%;
  height: 100%;
}

#formulario{
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  top: 75px;
  z-index: 2;
  font-weight: bold;
  color: #ffffff;
}

#name{
  width: 75px;
}
#x, #y, #z{
  width: 32px;
}
